{
  "extends": ["wesbos"],
  "rules": {
    "no-console": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "import/no-extraneous-dependencies": 0,
    "ts-styled-plugin": 0,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 80,
        "tabWidth": 4
      }
    ]
  }
}
